body {
  padding-top: 3.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-family: orbitron, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 100px; }

.bg-dark {
  background-color: #151515 !important; }

.user-list img {
  width: 200px; }

.main .responsive {
  max-width: 95%;
  height: auto; }

.error {
  color: red; }

.form label {
  width: 350px;
  display: block;
  margin: 0 auto; }
.form span {
  display: block; }
.form input {
  width: 250px; }

.content-wrapper button {
  margin-left: 10px;
  margin-top: 7px; }

#input-button {
  width: auto;
  margin-top: 4px; }

.glitch {
  margin: 2rem auto;
  animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
  font-family: orbitron, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
  width: 73%; }

.glitch-main {
  color: #FFF; }

.glitch-color {
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: -1; }

.glitch-color--red {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  color: red; }

.glitch-color--blue {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
  color: blue; }

.glitch-color--green {
  animation: glitch 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
  color: #00FF0B; }

.glitch-line {
  animation: glitch-line 2s linear infinite;
  background: #000;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.glitch-line--first {
  animation: glitch-line 2s linear infinite; }

.glitch-line--second {
  animation: glitch-line 1s linear 1s infinite; }

@keyframes glitch {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(-8px, 8px); }
  40% {
    transform: translate(-8px, -8px); }
  60% {
    transform: translate(8px, 8px); }
  80% {
    transform: translate(8px, -8px); }
  100% {
    transform: translate(0); } }
@keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg); }
  48% {
    transform: skew(0deg, 0deg);
    filter: blur(0); }
  50% {
    transform: skew(-20deg, 0deg);
    filter: blur(4px); }
  52% {
    transform: skew(20deg, 0deg); }
  54% {
    transform: skew(0deg, 0deg);
    filter: blur(0); }
  100% {
    transform: skew(0deg, 0deg); } }
@keyframes glitch-line {
  0% {
    top: 0; }
  100% {
    top: 100%; } }
table {
  margin-left: auto;
  margin-right: auto;
  font-size: 20pt;
  border: none; }

tbody {
  text-transform: none;
  font-size: 17pt; }

.description {
  border: none;
  cursor: pointer; }

.txt {
  font-weight: 900; }

.repos img {
  width: 800px; }

.repos .responsive {
  max-width: 95%;
  height: auto; }
.repos h1 {
  margin-top: 10px;
  margin-bottom: 10px; }
.repos h2 {
  margin-top: 40px; }

.buttons {
  border: none;
  display: flex;
  flex-wrap: wrap; }
  .buttons div {
    margin: 5px; }

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

/* unvisited link */
a:link {
  color: pink;
  text-decoration: none; }

/* visited link */
a:visited {
  color: pink;
  text-decoration: none; }

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline; }

/* selected link */
a:active {
  color: hotpink;
  text-decoration: underline; }

@media screen and (max-width: 768px) {
  .glitch {
    width: 80%;
    font-size: 2rem; } }
@media screen and (min-width: 991px) {
  .navbar-dark .navbar-brand {
    margin-left: 80px; } }
@media screen and (min-width: 1024px) {
  .navbar-dark .navbar-brand {
    margin-left: 120px; } }
@media screen and (min-width: 1440px) {
  .navbar-dark .navbar-brand {
    margin-left: 250px; } }
@media screen and (max-width: 715px) {
  #repo_table {
    max-width: 600px; } }
@media screen and (max-width: 635px) {
  #repo_table {
    max-width: 500px; } }
@media screen and (max-width: 520px) {
  #repo_table {
    max-width: 400px; }

  .rep_url_form span {
    display: block; }

  .repos h1 {
    font-size: 1.9rem; }
  .repos h2 {
    font-size: 1.5rem; }
  .repos th {
    font-size: 1.2rem; } }
@media screen and (max-width: 425px) {
  #repo_table {
    max-width: 350px; } }
@media screen and (max-width: 390px) {
  #repo_table {
    max-width: 300px; }

  .repos h1 {
    max-width: 300px;
    margin: 0 auto; } }
@media screen and (max-width: 350px) {
  #repo_table {
    max-width: 280px; } }
@media screen and (max-width: 850px) {
  .buttons {
    width: 80px; } }
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem; } }
iframe {
  margin: 8px 0 8px 0; }

.resources img {
  margin-bottom: 20px; }
.resources iframe {
  margin: 15px; }
.resources .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px; }
.resources .links {
  margin: 20px;
  width: 200px;
  font-size: 1.6rem; }

/*# sourceMappingURL=style.css.map */
