table {
  margin-left: auto;
  margin-right: auto;
  font-size: 20pt;
  border: none;
}

tbody {
  text-transform: none;
  font-size: 17pt;
}

.description {
  border: none;
  cursor: pointer;
}